.footer {
    padding: 22px 25px;
    background: #363636;



    &__logo img {
            width: 105px;
            height: auto;
            filter: invert(100%);
    }
    
    &__list {

        &--content {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            color: white;

            &-li {
                margin-top: 7px;

                & i {
                    margin-right:11px ;
                }

                .fa-handshake-angle {
                    font-size: 11px;
                }
            }
        }
    }
    

    //******** Media Queries ********//


    @media (min-width:1024px){
        display: flex;
        flex-direction: row-reverse;
        gap: 100px;

        &__logo {
            display: flex;
            align-items: end;
        }

        &__list--content {
            display: flex;
            gap: 20px;
        }
    }

}

    
