.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 13px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    position: relative;

    @media (min-width: 768px) {
        padding: 30px 0;
        box-shadow: none;
    }

    
    // Pages restaurants Desktop //

    &__return {
        font-size: 20px;
        position: absolute; 
        left: 5%;   
    }

    & img {
       width:162px;
       height: auto;
    }
}



