.location {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: $background-color-grey;

    &__city {
        display: flex;
        gap: 17px;
        width: 160px;

        &--input {
            border: none;
            font-size: 17px;
            width: 100%;
            background-color: $background-color-grey;
        }

        & i {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #353535;
        }
    }
}

::placeholder {
    color: #363636;
}


.explorer {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 39px 45px 57px 45px;

    &__text {
        text-align: center;

        p {
            margin-bottom: 0;
        }
    }

    &__button {
        margin-top: 27px;

        & button {
            @include button
        }
    }


    //******** Media Queries ********//


    @media (min-width: 1024px) {
        padding: 30px 0;

        h1 {
            font-size: 40px;
            margin: 0;
        }
        p {
            font-size: 18px;
        }
        
    }
}