.restaurant__menu {

    &--img img {
        height: 315px;
        width: 100%;
    }


    &--content {
        border-radius: 40px;
        background: $background-color;
        padding: 38px 20px;
        margin-top: -50px;
        position: relative;

        &-title {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h1 {
                margin: 0;
                font-size: 27px;
                font-family: "Shrikhand";
            }

        }

    }

    .card__content--heart {
        width: 10%;
        display: flex;
        align-items: center;

        & .fa-full {
            @include heart
            }

        i {
            font-size: 28px;
            position: absolute;
            top: 3.5%;
        }
    }


    //******** Animation arrivée cards ********//

    &--cards {

        &-animation1 {
            animation: card-arrival 1000ms ease-in-out backwards;
        }

        &-animation2 {
            animation: card-arrival 1000ms ease-in-out backwards;
            animation-delay: 500ms;
            }  
        
        &-animation3 {
            animation: card-arrival 1000ms ease-in-out backwards;
            animation-delay: 800ms; 
        }




        &-title {
            margin-top: 35px;


            h2 {
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                margin: 0;

                
            }

            h2::after {
                    content: '';
                    display: block;
                    width: 40px;
                    border-bottom: 3px solid $card-color;
                }
        }
        

        &-content {
            @include card;
            display: flex;
            margin-top: 12px;

            &-check {
                display: flex;
                align-items: center;
                justify-content: center;
                width:0;
                height: 100%;
                border-left:1px solid $card-color;
                background: $card-color;
                border-radius: 0 20px 20px 0;
                opacity: 0;
                transition: all 300ms;

                i {
                    border: 1px solid;
                    border-radius: 25px;
                    padding: 3px;
                    color: $card-color;
                    background: white;
                }
            }

            label {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }

            input {
                display: none;
            }

            input:checked + div {
                width: 75px;
                opacity: 1;
                cursor: pointer;
            }
            

                @media (min-width:1024px) {
                    &:hover &-check {
                    opacity: 1;
                    width: 75px;
                    cursor: pointer;
                    }
                }

            &-description {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 15px;
                width: 100%;
                overflow: hidden;
                

                h3 {
                    margin: 0;
                    font-size: 18px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow:ellipsis; 
                }

                p {
                    margin: 0;
                    font-size: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow:ellipsis; 
                }
            }

            &-price {
                display: flex;
                padding: 15px;
                

                p {
                    display: flex;
                    align-items: end;
                    margin: 0;
                    font-size: 15px;
                    font-weight: 700;
                }

            }

            &-button {
                margin: 40px 0;
                display: flex;
                justify-content: center;

                button {
                    @include button
                }

            }
        }


    }


    //******** Media Queries ********//

    @media (min-width:1024px) {
        margin: auto;
        max-width: 1055px;

        &--content-title {
            display: flex;
            justify-content: space-between;
        }

        &--cards {
            max-width: 634px;
            margin: auto;
        }

        .card__content--heart {
            width: 0%;
        }
    }
}